
{% extends 'base.html' %}

{% block title %}
Games
{% endblock %}

{% block content %}
{% load static %}

<style>
  body{
  background-size: cover;
}
</style>
<body style="background-image: url({% static '/about1.jpg' %});">
  
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container"><br><br>
<h1 style="text-align: center;">Our Games</h1><br><br>
<div class="card-deck">
<div class="card" style="width: 18rem;">
  <img height="200px" width="200px" src="{% static '/cricket.jpg' %}" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">Cricket</h5>
    <p class="card-text">Morning 6:00 AM - 12:00 AM Afternoon 1:30PM - 04:00 PM Evening 4:00 PM - 8:00 PM  Late Night 8:00 AM - 1:00 PM</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img height="200px" width="200px" src="{% static '/football.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Football</h5>
    <p class="card-text">Morning 6:00 AM - 12:00 AM Afternoon 1:30PM - 04:00 PM Evening 4:00 PM - 8:00 PM  Late Night 8:00 AM - 1:00 PM</p>
  </div>
</div>

  <div class="card" style="width: 18rem;">
  <img height="200px" width="200px" src="{% static '/Badminton.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Badminton</h5>
    <p class="card-text">Morning 6:00 AM - 12:00 AM Afternoon 1:30PM - 04:00 PM Evening 4:00 PM - 8:00 PM  Late Night 8:00 AM - 1:00 PM</p>
  </div>
</div>

  <div class="card" style="width: 18rem;">
  <img height="200px" width="200px" src="{% static '/vollyball.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Volleyball</h5>
    <p class="card-text">Morning 6:00 AM - 12:00 AM Afternoon 1:30PM - 04:00 PM Evening 4:00 PM - 8:00 PM  Late Night 8:00 AM - 1:00 PM</p>
  </div>
</div>
</div>
</div>
{% endblock %}